<h3><i class="fas.fa-book-reader"></i> Circles</h3>
<div class ="section">
  <p class="lead">Share special moments with people in each of your different circles.</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1"><i class="fab fa-google left"></i></a> Log In With Google
</div>